<h1>Editing bike service</h1>

<%= render "form", bike_service: @bike_service %>

<br>

<div>
  <%= link_to "Show this bike service", @bike_service %> |
  <%= link_to "Back to bike services", bike_services_path %>
</div>
