<div class="p-3 d-flex">
  <div>
    <p>
      <strong>Nombre:</strong>
      <%= user.nombre %>
    </p>

    <p>
      <strong>Apellido:</strong>
      <%= user.apellido %>
    </p>

    <p>
      <strong>Telefono:</strong>
      <%= user.telefono %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= user.email %>
    </p>
  </div>

</div>
