<p style="color: green"><%= notice %></p>


<div class="d-flex flex-column justify-content-center align-items-center mb-5">
  <h2 class="text-center mb-5">Listado de clientes</h2>

  <%= link_to "Crear cliente", new_user_path, class:"btn btn-outline-success w-25 text-center btn-sm" %>
</div>


<div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="300" class="user-list">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</div>
