$background-color: #c9c2c2;
$text-color: #201f1f;
$border-color: #ccc;
$hover-shadow: rgba(0, 0, 0, 0.1);
$padding: 16px;
$border-radius: 16px;

.user-show-header {
  width: 100%;
  height: 100px;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-card {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: $padding;
  margin-top: 16px;
  gap: 16px;
}

.user-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid $border-color;
  padding-right: $padding;
}

.user-bike-services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $padding;
}

.user-bike-services-item {
  width: 100%;
  height: fit-content;
  border: 1px solid rgb(116, 115, 115);
  border-radius: $border-radius;
  padding: 8px $padding;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px $hover-shadow;
  }
}

.user-bike-services-item p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}
